*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
}

html{
    font-size: 62.5%;
}

body{
    font-size: 1.6rem;
    /* Con el siguiente codigo vamos a dejar la pagina sin nada de scroll */
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

a{
    text-decoration: none;
    display: inline;
    color: black;
}

header{
    width: 100%;
    height: 140px;
    display: grid;
    grid-template-rows: 1fr 1fr;
}

header .headerIconsContainer{
    width: 100%;
    height: 50px;
    display: grid;
    background-color: #47cfac;
}

header .headerIconsContainer .icons{
    width: 300px;
    height: auto;
    display: flex;
    justify-items: end;
    align-items: center;
    justify-content: space-between;
    justify-self: end;
    margin-right: 50px;
}

header .headerIconsContainer .icons a span{
    display: flex;
    color: white;
    justify-items: center;
    align-items: center;
}

nav{
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 90px;
} 

nav .navLogoContainer{
    margin-left: 52px;
}

nav .navLogoContainer img{
    width: 220px;
    margin-top: 10px;
}

header nav .navProfileLink{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 50px;
}

nav .navProfileLink a{
    color: black;
    border-bottom: 1px solid black;
}

main .mainContainer{
    width: 100vw;
    height: 100vh;
    position: relative;
}



main .mainImgContainer span{
    display: inline-block;
    width: 100vw;
    height: 100vh;
    background-image: url(../assets/Img/Cover.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

main .mainContentContainer{
    position: absolute;
    top: 0;
    left: calc(50% - 200px);
}

main .mainContentContainer .mainTitle{
    color: white;
    font-size: 3rem;
    font-weight: bold;
    line-height: 3rem;
    margin-top: 100px;
    margin-bottom: 120px;
    text-align: center;
    letter-spacing: 10px;
}

main .mainContentContainer .mainPrimaryButton{
    display: flex;
    width: 70px;
    height: 36px;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    background-color: #3fc7a4;
    font-weight: bold;
}

main .mainContentContainer .mainContainer a{
    display: flex;
    width: 70px;
    height: 36px;
}

main .mainContentContainer .mainPrimaryButton:hover{
    background-color: #47cfac;
    transform: scale(1.1);
}